* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
    position: sticky;
}

.navbar h1 {
    font-size: 1.5em;
    color: orange;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.navbar .btn-header {
    background-color: orange;
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.navbar .btn-header:hover {
    background-color: #ffb74d;
}
.hero {
    position: relative;
    text-align: left;
    padding: 50px;
    background-image: url('Images/pic1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
  
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.hero .btn-main {
    background-color: orange;
    border: none;
    padding: 15px 30px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.hero .btn-main:hover {
    background-color: #ffb74d;
}
